*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}



body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#hero {
  gap: 23px;
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
  color: white;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("/img/hero.jpg");
  background-size: no-repeat;
  background-size: cover;
  background-position: center center;
}

#hero a {
   font-size: 1rem;
  font-weight: bold;
  padding: 8px 8px;
  border-radius: 10px;
  border: 2px solid rgb(65, 62, 62);
  box-shadow: 2px 2px 10px rgba(165, 165, 165, 0.5);
  color: rgb(232, 209, 209);
  background-color: rgb(84, 113, 115);
  cursor: pointer;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.menu-nav {
 max-width: 1400px;
 margin: auto;
 padding: 100%;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

.menu-nav {
   display: flex;
   justify-content: space-between;
   background-color: rgb(75, 70, 79);
   color: white;
   padding: 18px;

}
.logo {
    color: rgb(218, 205, 21) ;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

nav {
    display: flex;
    list-style-type: none;

}

nav li {
    margin: 0 10px;
    padding: 0 10px;
}

nav li a {
    text-decoration: none;
    color: #ffff;
    font-size: 15px;
    transition: all ease .4s;
}


nav li a:hover {
    color: darkgoldenrod;
}
 #skills {
    padding: 90px;
 }
#skills a{
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgb(255, 255, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.4rem;
  color: rgb(0, 0, 0);
}


#skills h2 {
    gap: 5px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 12px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    color: rgb(232, 222, 132);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#skills a:hover {
    cursor: pointer;
    color: blue;
}
#about h2 {
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 1.8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(232, 178, 108);
}

#about span {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 14px;
}

#about {
    padding: 70px;
}

#contact h2{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.8rem;
    color: rgb(191, 141, 14);
}


#contact ul a {
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    padding: 10px;
    color: rgb(29, 26, 26);
    font-size: 1rem;
}

#contact ul a:hover {
    cursor: pointer;
    color: blue;
}

#contact {
    padding: 70px ;
}

#footer {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    background-color: rgb(250, 173, 73);
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    padding: 10px;
}

@media (min-width: 720px) {
    header {
        position: fixed;
        width: 100%;
    }
}

header .container{
    flex-direction: row;
    justify-content: space-between;
}

header nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
}